/* Reset */
* { margin:0; padding:0; box-sizing:border-box; font-family: Arial, Helvetica, sans-serif; }

/* 1. Fondo de todo el sitio web color naranja */
body {
    background-color: #FF7300; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* 2. El contenedor ahora es blanco */
.contenedor {
    width: 100%;
    max-width: 600px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}

/* 3. Botón blanco con letras naranjas */
.btn-descarga {
    display: inline-block;
    background: #ffffff; /* Botón blanco */
    color: #FF7300;      /* Letras naranjas */
    border: 2px solid #FF7300; /* Un borde naranja para que resalte */
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 12px;
    transition: .3s;
    font-size: 1.1rem;
    margin-top: 20px;
}

.btn-descarga:hover {
    background: #FF7300; /* Al pasar el mouse, se vuelve naranja */
    color: #ffffff;      /* Y las letras blancas */
    transform: translateY(-2px);
}

/* Tablet */
@media (max-width:768px){

    .contenedor{
        padding:30px 20px;
    }

    h1{
        font-size:2.4rem;
    }

    .logo{
        width:150px;
    }

    .descripcion{
        font-size:1rem;
    }
}

/* Celular */
@media (max-width:480px){

    body{
        padding:15px;
    }

    .contenedor{
        padding:25px 15px;
        border-radius:15px;
    }

    h1{
        font-size:2rem;
    }

    .logo{
        width:120px;
    }

    .descripcion{
        font-size:.95rem;
    }

    .btn-descarga{
        width:100%;
        padding:15px;
    }
}
